/*så det ser naturligt ud og scroll */
html {
  scroll-behavior: smooth;
}

/*højden på "side 2" efter du har scrollet*/
#section1 {
  height: 300px;

}

/*borderen omkring overskriften */
p.solid {border-style: solid;
  border-width: 5px;
  border-radius: 5px;
}


.infobox {
  background-image: linear-gradient(to bottom right,#F2EBDF, #024873, #C9EBF2);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
}

.info-p {
  margin: 80px;
  font-size: 1.2em;
}

li {
  margin: 20px;
}

.ul-kilder {
  
  font-size: 1.2em;
  font-weight: bold;
  
}

a {
  color: #024873;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { color: orange; }

a:active { color: orange; }


.infoknap {
  margin-top: 50px;
  margin-bottom: 80px;
}

.bg-image {
  /*background-image: url("Green-silhouette-forest-abstract-background-environment-shutterstock-692341585.jpg");*/
  background-color:#C9EBF2;
  background-size: cover;
  background-position: center;
  height: 300%;
  width: 100%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
  
}

   #slider1 {
    background-image: url();
    background-size: cover;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  #slider2 {
    background-image: url();
    background-size: cover;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #slider3 {
    background-image: url();
    background-size: cover;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    h1 {
      text-align: center;
    }
  
    body {
      height: 100%;
      margin: 0;
      background-image: url();
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .p-slider {
      color: orange;
      font-weight: bold;
    }
/* alle vores range sliders*/
    .slider {
      -webkit-appearance: none;
      appearance: none;
      width: 60%;
      height: 10px;
      border-radius: 5px;
      background: #024873;
      outline: none;
      opacity: 1;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
/* synligheden falder når man hover over slideren*/
    .slider:hover {
      opacity: 0.5;

    }
/*de 3 forskellige slider billeder */
    .slider1::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 50px;
      height: 70px;
      background: url(øl.png) no-repeat center center;
      background-size: contain;
      cursor: pointer;
    }
  
    .slider2::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 50px;
      height: 70px;
      background: url(wine.png) no-repeat center center;
      background-size: contain;
      cursor: pointer;
    }

    .slider3::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 50px;
      height: 70px;
      background: url(daquiry.png) no-repeat center center;
      background-size: cover;
      cursor: pointer;
    }

    .knap {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #024873;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }
    
    .knap:hover {
      background-color: #024873;
      opacity: 0.8;
    }
    
    .knap:active {
      background-color: lightskyblue;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

    #resultat {
      color: black;
    }
/*pilen som indikere du kan scrolle */
    .scroll-down {
      position: absolute;
      bottom: 10px;
      display: block;
      width: 25px;
      height: 25px;
      margin-bottom: 20px;
      border-bottom: 4px solid #000000;
      border-right: 4px solid #000000;
      z-index: 9;
      left: 50%;
      -webkit-transform: translate(-50%, 0%) rotate(45deg);
      -moz-transform: translate(-50%, 0%) rotate(45deg);
      transform: translate(-50%, 0%) rotate(45deg);
      -webkit-animation: fade_move_down 1s ease-in-out infinite;
      -moz-animation:    fade_move_down 1s ease-in-out infinite;
      animation:         fade_move_down 1s ease-in-out infinite;
    }

    
    
    /*animated scroll arrow animation*/
    @-webkit-keyframes fade_move_down {
      0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
      50%  { opacity: 1;  }
      100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
    }
    @-moz-keyframes fade_move_down {
      0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
      50%  { opacity: 1;  }
      100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
    }
    @keyframes fade_move_down {
      0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
      50%  { opacity: 1;  }
      100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
    }
   


    .rowContainer {
      display: inline-flex;
      justify-content: center;
    }

    .rammer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      font-size: 25px;
    }
    
    .overbox {
      width: 250px;
      height: 325px;
      margin: 10px;
      opacity: 0.9;
      color: #024873;
      font-weight: bold;
    }


    /* ændrer synligheden når man hover over boxene*/
    .box:hover {
      opacity: 0.5;
  }
    .box {
      width: 250px;
      height: 250px;
      opacity: 1;
      
    }
    /*boksene man kan klikke på, for at se hvad c02e er tilsvarende til */
    .slide-objekt-1 {
      background-image: url(Streaming.png);
      background-color: #024873;
      height: 60%;
      width: 80%;
      margin: 20px;
      transform: scale(1.2,1.2);
    }

    .slide-objekt-2 {
      background-image: url(Transport.jpg);
      background-color: #024873;
      height: 60%;
      width: 80%;
      margin: 20px;
      transform: scale(1.4,1.2);
    }

    .slide-objekt-3 {
      background-image: url(madvarer.jpg);
      background-color: #024873;
      height: 60%;
      width: 80%;
      margin: 20px;
      transform: scale(1.2,1.2);
      border: 0;
    }
    

    .containerTab {
      padding: 20px;
      color: white;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Closable button inside the image */
    .closebtn {
      float: right;
      color: white;
      font-size: 35px;
      cursor: pointer;
    }

    .pop-up {
      width: 780px;
      height: 250px;
      margin: 10px ;
    }

    #race {
      margin-left: 70px;
    }
  

    
